body {
    background: url("bg2.jpg") repeat center/cover;
    height: 100vh;
    width: 100vw;
    font-family: "Playwrite DE Grund", cursive;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header{
    margin: auto;
    margin-top: 10px;
}

h1 {
    color: rgba(255, 255, 255, 0.493);
    margin-top: 0;
}

#title1 {
    color: rgba(0, 0, 0, 0.315);
    margin-top: 0;
    margin-bottom: 0;
}

#userInput {
    font-family: "Playwrite DE Grund", cursive;
    font-size: 15px;
    color: white;
    background-color: transparent;
    border: 4px, ridge, rgb(7, 36, 68);
    border-radius: 7px;
    margin-top: 20px;
    height: 45px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    outline: none;
}

#userInput:hover::placeholder {
    color: rgb(134, 134, 134);
}

#output{
    margin: 30px;
    font-size: 1.5rem;
}

.btn{
    font-family: "Playwrite DE Grund", cursive;
    font-size: 12px;
    color: rgb(39, 39, 39);
    background-color: transparent;
    border: 1px, outset, rgba(37, 37, 37, 0.651);
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px; /* Adjusted margin */
    padding: 10px 20px;
}

.btn:hover {
    color: rgb(0, 0, 0);
}

#clue{
    margin: 0;
    font-size: large;
}

@media only screen and (max-width: 600px){
    body {
        font-size: 1.3rem;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    #userInput {
        width: 270px;
    }
    
    #output{
        font-size: 1.3rem;
    }
    #clue{
        font-size: small;
    }   
}